body{
    font-family: 'Poppins', sans-serif;
}
.background-image{
    background-image: url(images/donation13.jpg);
    padding: 150px 100px;
    background-size: cover;
    background-position: center;
}
.text-align{
    color: white;
    font-weight: 700;
    text-align: center;
}
.donate-now-link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.donate-today{
    text-align: center;
    font-weight: 700;
    margin-top: 100px;
}
.flex-container{
    display: flex;
    justify-content: center;
}
.donate-tk{
    width: 100px;
    height: 100px;
    background: grey;
    color: white;
    font-size: 10pxpx;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    margin-top: 50px;
}
#donate-200tk{
    border: 2px solid crimson;
    background-color: pink;
    color: crimson;
}
#other-amount{
    text-align: center;
    margin-top: 50px;
}
#final-donate-now{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}
#margin-align{
    text-align: center;
    margin-top: 50px;
}
#our-donate-plan{
    text-align: center;
    margin-top: 150px;
}
#font-weight{
    font-weight: bold;
}
.food-education-shelter{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 50px;
}
.class-food-education-shelter{
    text-decoration: none;
    background-color: aqua;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    margin: 10px;
    border-radius: 10px;
}